body {
    margin: 0;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    border-bottom: 1.5px solid black;
}

header h1 {
    margin: 0;
    margin-left: 30px;
    padding: 15px;
}

main {
    text-align: center;
    width: 540px;
    margin: 0 auto;
    margin-top: 30px;
    flex: 1;
}

.list {
    transition: 0.2s;
    height: 80px;
    margin: 40px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.list:hover {
    background-color: rgba(86, 86, 86, 0.799);
    cursor: pointer;
    color: white;
    transform: translateX(5px);
}

footer {
    text-align: center;
    padding: 30px;
    background-color: rgb(83, 83, 83);
    color: white;
}